@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0B0F1A;
  color: #E0E0FF;
  font-family: 'Inter', sans-serif;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(142, 45, 226, 0.5);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(142, 45, 226, 0.8);
}
